<%= form_with model: @comment do |form| %>
  <div class="field">
    <%= form.text_field :title, placeholder: 'Title' %>
    <%= form.rich_text_area :content %>
  </div>
  <%= form.submit %>
  <%= form.hidden_field :project_id, value: @project.id %>
<% end %>