<div class='data_manager'>
  <%= link_to 'Project Types', project_types_path %>
  <%= link_to 'Providers', providers_path %>
  <%= link_to 'Contractors', contractors_path %>
  <%= link_to 'Vendors', vendors_path %>
  <%= link_to 'Realtors', realtors_path %>
  <%= link_to 'Lenders', lenders_path %>
</div>