<div class=''>
  <h1><%= @vendor.name %></h1>
  <p>Address: <%= @vendor.address %></p>
  <p>Telephone1: <%= @vendor.telephone1 %></p>
  <p>Telephone2: <%= @vendor.telephone2 %></p>
  <p>Telephone3: <%= @vendor.telephone3 %></p>
  <%= link_to 'edit', edit_vendor_path(@vendor) %>
  <%= link_to 'delete', vendor_path(@vendor), method: 'delete' %>
</div>